{% extends 'base.html' %}





{% block content %}
    <article>Article
        
        <table border="all">
            <tr>
              <td><p class="indexedParagraph" onclick="abc(0)">What's my in2dex?</p></td>
              <td><p class="indexedParagraph" onclick="abc(1)">What's my ind2ex?</p></td>
              <td><p class="indexedParagraph" onclick="abc(2)">What's my inde2x?</p></td>
              <td><p class="indexedParagraph" onclick="abc(3)">What's my index2?</p></td>
            </tr>
            <tr>
              <td><p class="indexedParagraph" onclick="abc(4)">What's my inde14x?</p></td>
              <td><p class="indexedParagraph" onclick="abc(5)">What's my index?25</p></td>
              <td><p class="indexedParagraph" onclick="abc(6)">What's my inde88x?</p></td>
              <td><p class="indexedParagraph" onclick="abc(7)">What's my inde44x?</p></td>
            </tr>
        </table>
    </article>
    <nav>Nav
        <table>
            <tr>
                <td><h3>this is a about page i am in contact page</h3></td>
                <td><h3>I'll use this templates in my web developemnt projects</h3></td>
            </tr>
            <tr>
                <td>I think this is a very nice website</td>
            </tr>
        </table>
    </nav>
    <aside>Aside
        <h1>I am Rao Mohsin</h1>
        <h4>I am a good boy. too</h4>
        <table>
            <tr>
                <td><h3>this is a very good website</h3></td>
            </tr>
            <tr>
                <td>I think this is a very nice website</td>
            </tr>
        </table>
    </aside>
    <script type="text/javascript">
        getIndexes();
    </script>
{% endblock %}