{% extends 'ac_base.html' %}


{% block content %}
<form action="t1" method="POST" >
    <h1>This is a Reset Password form.</h1>     
    <p>Please enter your register email. We'll send you password reset link.</p>
    <b>Make sure our email id is in your safe contacts</b>
    <b>resetpassword@company.com</b>
    {% csrf_token %}      
    <input type="email" name="email" placeholder="Email" autocomplete="off" /><br>
    <input type="submit" /><br>
</form>

<div>
    {% for message in messages %}
    <h3> {{ message }}</h3>
    {% endfor %}
</div>

{% endblock %}