{% extends 'base.html' %}


{% block content %}
    <article>Article
        <h1>This is a Center Section.</h1>
        <h1>I am in Center Section</h1>
    </article>
    <nav>Nav
        <table>
            <tr>
                <td><h1>this is a very good website</h1></td>
                <td><p>I am in love with this.</p></td>
                <td><h3>I'll use this templates in my web developemnt projects</h3></td>
            </tr>
            <tr>
                <td>I think this is a very nice website</td>
            </tr>
        </table>
    </nav>
    <aside>Aside
        <h1>I am Rao Mohsin</h1>
        <h4>I am a good boy. too</h4>
        <table>
            <tr>
                <td><h1>this is a very good website</h1></td>
                <td><p>I am in love with this.</p></td>
                <td><h3>I'll use this templates in my web developemnt projects</h3></td>
            </tr>
            <tr>
                <td>I think this is a very nice website</td>
            </tr>
        </table>
    </aside>

{% endblock %}