{% extends 'base.html' %}


{% block content %}
    <article>
        <h1>This is a Center Section.</h1>
        <h1>Customer Information</h1>
        <hr>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
            </tr>
            {% for mydest in dests %}
            <tr>
                <td>{{ mydest.id }}</td>
                <td>{{ mydest.fname }} {{ mydest.lname }}</td>
                <td>{{ mydest.address }} {{ mydest.city }} {{ mydest.country }}</td>
                {% if mydest.gender %}
                <td>Male</td>
                {% else %}
                <td>Female</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>




    </article>
    <nav>Nav
        <table>
            <tr>
                <td><h1>I am Rao Mohsin</h1></td>
                <td><p></p></td>
                <td><h3></h3></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </nav>
    <aside>Aside
        <h1>I am Rao Mohsin</h1>
        <h4>I am a good boy. too</h4>
        <table>
            <tr>
                <td><h1></h1></td>
                <td><p></p></td>
                <td><h3></h3></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </aside>

{% endblock %}