{% extends 'base.html' %}


{% block content %}
    <article>
        <h1>Product Information</h1>
        <hr>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Added</th>
            </tr>
            {% for mydest in dests %}
            <tr>
                <td>{{ mydest.id }}</td>
                <td>{{ mydest.pname }} </td>
                <td>{{ mydest.unitprice }} </td>
                <td>{{ mydest.added }}</td> 
            </tr>
            {% endfor %}
        </table>
        <h3></h3>
        <a href="pi"><h3>Insert Product Information</h3></a>
        <h3></h3>
        <a href="exproducts"><h3>Export Product Information</h3></a>




    </article>
    <nav>Nav
        <table>
            <tr>
                <td><h1>I am Rao Mohsin</h1></td>
                <td><p></p></td>
                <td><h3></h3></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </nav>
    <aside>Aside
        <h1>I am Rao Mohsin</h1>
        <h4>I am a good boy. too</h4>
        <table>
            <tr>
                <td><h1></h1></td>
                <td><p></p></td>
                <td><h3></h3></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </aside>

{% endblock %}